
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root{
    --primary-colour:#c6c3c3;
    --second-colour:#ffffff;
    --black-colour:#000000;
}

body{
    background-image: url("../../images/login.png") ;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
 /*.imgBx{*/
 /*    position: relative;*/
 /*    width: 50vw;*/
 /*    height: 50vh;*/
 /*    margin-right: 150px;*/
 /*}*/
/*.imgBx:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.imgBx:after{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
a{
    text-decoration: none;
    color: var(--second-colour);
}

a:hover{
    text-decoration: underline;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.2);
}

.main-box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 5px solid var(--primary-colour);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-colour);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
}

.login-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-colour);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.mainHeader{
    margin-top: -20px;
    font-weight: bolder;
}

.login-header span{
    font-size: 30px;
    color: var(--black-colour);
}

.login-header::before{
    content:"" ;
    position: absolute;
    top: 0;
    left:-30px ;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-colour) ;

}

.login-header::after{
    content:"" ;
    position: absolute;
    top: 0;
    right:-30px ;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-colour) ;
}

.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-colour);
    padding-inline: 28px 50px;
    border: 2px solid var(--primary-colour);
    border-radius: 30px;
    outline: none;
}

#user{
    margin-bottom:10px ;
}

.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
}

.input-field:focus~ .label,
.input-field:valid~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-colour);
    border-radius: 30px;
    color: var(--black-colour);
    padding:0 10px ;
}

.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}


.input-submit:hover{
    background: var(--second-colour);
}

.register{
    text-align: center;
}

.register a{
    font-weight: 500;
}

/*-----------Registration Form-------------*/


.top span{
    color: #fff;
    font-size: small;
    padding:10px 0 ;
    display: flex;
    justify-content: center;
}

.top span a{
    font-weight: bolder;
    color: var(--black-colour);
    margin-left: 5px;

}

header{
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.icon1{
        position: absolute;
        top: 18px;
        left: 5px;
        font-size: 20px;

}

input::placeholder{
    color: beige;
}

.main-box1 {
    position: relative;
    width: 450px;
    backdrop-filter: blur(15px);
    border: 2px solid var(--primary-colour);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-colour);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.top1{
    margin-top: -80px;
}

.top1 header{
    font-weight: bolder;
}
.top1 span{
    color: #fff;
    font-size: small;
    padding:10px 0 ;
    display: flex;
    justify-content: center;
}

.top1 span a{
    font-weight: bolder;
    color: var(--black-colour);
    margin-left: 5px;

}




@media only screen and(max-width: 564px) {
    .wrapper{
        padding: 20px;
    }

    .login-box{
        padding: 7.5em 1.5em 4em 1.5em;
    }

}